<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs210.giraffe"
    android:versionCode="6"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="com.cs210.giraffe.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.cs210.giraffe.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_giraffe"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Debug Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC7vHHwQ0XsJP6SbF51ZbdYYG_3YVkmnbo" />
            
        <!-- Release Key -->
        
        <!--     <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
        	android:value="AIzaSyAdgXDyaT7qNAWY2yag1Ta-xbhVVnstIg8"/>
        -->
        <activity
            android:name="com.cs210.giraffe.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs210.giraffe.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cs210.giraffe.ProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cs210.giraffe.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>