<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.tizen.nativecommon.launch.TizenLaunchConfigurationType">
<booleanAttribute key="org.eclipse.cdt.debug.mi.core.AUTO_SOLIB" value="false"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.commandFactory" value="org.tizen.nativecommon.launch.TizenCommandFactory"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="org.tizen.nativecommon.launch.TizenDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="OspMain"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug-Tizen-Emulator/UiControlsSample.exe"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="UiControlsSample"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="org.tizen.nativecpp.config.sbi.gcc45.app.debug.emulator.905958591"/>
<stringAttribute key="org.eclipse.cdt.launch.WORKING_DIRECTORY" value=""/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/UiControlsSample"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.tizen.nativeapp.launch.PROJECT_BUILD_CONFIG_NAME_ATTR" value="Debug-Tizen-Emulator"/>
<stringAttribute key="org.tizen.nativecommon.launch.device.serialNumber" value="emulator-26100"/>
</launchConfiguration>
